Test out some of the data with the FigureQA dataset.

In [1]:
base_dir = '/Users/jnaiman/Downloads/tmp/JCDL2025/other_datasets/FigureQA/'

In [3]:
import pandas as pd
from glob import glob

In [12]:
#qa_files = glob(base_dir + '*/qa_pairs.json')
qa_files = glob(base_dir + 'train1/qa_pairs.json')
qa_files

['/Users/jnaiman/Downloads/tmp/JCDL2025/other_datasets/FigureQA/train1/qa_pairs.json']

In [13]:
# get df
for i, file in enumerate(qa_files):
    if i == 0:
        df = pd.read_json(file)
    else:
        pass

In [14]:
df

,qa_pairs,total_distinct_questions,total_distinct_colors
0,"{'image_index': 0, 'color2_name': '--None--', ...",15,100
1,"{'image_index': 0, 'color2_name': '--None--', ...",15,100
2,"{'image_index': 0, 'color2_name': 'Dark Red', ...",15,100
3,"{'image_index': 0, 'color2_name': 'Pale Green'...",15,100
4,"{'image_index': 0, 'color2_name': 'Pale Green'...",15,100
...,...,...,...
1327363,"{'image_index': 99999, 'color2_name': 'Light S...",15,100
1327364,"{'image_index': 99999, 'color2_name': 'Mint', ...",15,100
1327365,"{'image_index': 99999, 'color2_name': 'Mint', ...",15,100
1327366,"{'image_index': 99999, 'color2_name': 'Mint', ...",15,100
1327367,"{'image_index': 99999, 'color2_name': 'Mint', ...",15,100

In [15]:
df.iloc[0]['qa_pairs']

{'image_index': 0,
 'color2_name': '--None--',
 'color1_name': 'Pale Green',
 'color1_rgb': [152, 251, 152],
 'question_string': 'Is Pale Green the minimum?',
 'color2_id': -1,
 'color1_id': 74,
 'answer': 0,
 'color2_rgb': [-1, -1, -1],
 'question_id': 0}

In [18]:
# data files?
#data_files = glob(base_dir + '*/annotations.json')
data_files = glob(base_dir + 'train1/annotations.json')
data_files

['/Users/jnaiman/Downloads/tmp/JCDL2025/other_datasets/FigureQA/train1/annotations.json']

In [21]:
# get df
for i, file in enumerate(data_files):
    if i == 0:
        df_data = pd.read_json(file)
    else:
        pass

In [22]:
df_data

,models,type,general_figure_info,image_index
0,"[{'name': 'bars', 'labels': ['Royal Blue', 'Pa...",vbar_categorical,"{'title': {'text': 'title', 'bbox': {'y': 9, '...",0
1,"[{'name': 'bars', 'labels': ['Coral', 'Medium ...",vbar_categorical,"{'title': {'text': 'title', 'bbox': {'y': 9, '...",1
2,"[{'name': 'bars', 'labels': ['Navy Blue', 'Vio...",hbar_categorical,"{'title': {'text': 'title', 'bbox': {'y': 9, '...",2
3,"[{'end': 1.408823851312817, 'name': 'Peru', 'l...",pie,"{'plot_info': {'bbox': {'y': 66, 'x': 113, 'w'...",3
4,"[{'name': 'bars', 'labels': ['Lawn Green', 'Ye...",hbar_categorical,"{'title': {'text': 'title', 'bbox': {'y': 9, '...",4
...,...,...,...,...
99995,"[{'name': 'Light Coral', 'color': '#F08080', '...",dot_line,"{'title': {'text': 'title', 'bbox': {'y': 9, '...",99995
99996,"[{'name': 'Forest Green', 'color': '#228B22', ...",line,"{'title': {'text': 'title', 'bbox': {'y': 9, '...",99996
99997,"[{'name': 'Violet', 'color': '#EE82EE', 'label...",dot_line,"{'title': {'text': 'title', 'bbox': {'y': 9, '...",99997
99998,"[{'name': 'Light Green', 'color': '#90EE90', '...",line,"{'title': {'text': 'title', 'bbox': {'y': 9, '...",99998
99999,"[{'name': 'Light Sky Blue', 'color': '#87CEFA'...",dot_line,"{'title': {'text': 'title', 'bbox': {'y': 9, '...",99999

In [24]:
df_data.iloc[0]

models                 [{'name': 'bars', 'labels': ['Royal Blue', 'Pa...
type                                                    vbar_categorical
general_figure_info    {'title': {'text': 'title', 'bbox': {'y': 9, '...
image_index                                                            0
Name: 0, dtype: object

In [27]:
df_data.iloc[0]['models']

[{'name': 'bars',
  'labels': ['Royal Blue',
   'Pale Green',
   'Dark Red',
   'Light Green',
   'Dark Salmon'],
  'width': 0.5,
  'colors': ['#4169E1', '#98FB98', '#8B0000', '#90EE90', '#E9967A'],
  'bboxes': [{'y': 78, 'x': 85, 'w': 72, 'h': 196},
   {'y': 43, 'x': 230, 'w': 72, 'h': 231},
   {'y': 254, 'x': 374, 'w': 72, 'h': 20},
   {'y': 170, 'x': 518, 'w': 72, 'h': 104},
   {'y': 229, 'x': 663, 'w': 72, 'h': 45}],
  'y': [74.5866897989692,
   88.21400944286917,
   7.6750446995641335,
   39.7387773448238,
   17.0608316600648],
  'x': ['Royal Blue', 'Pale Green', 'Dark Red', 'Light Green', 'Dark Salmon']}]

In [25]:
df_data.iloc[0]['general_figure_info']

{'title': {'text': 'title',
  'bbox': {'y': 9, 'x': 49.09562500000001, 'w': 50.234375, 'h': 16}},
 'x_axis': {'minor_ticks': {'values': [], 'bboxes': []},
  'major_labels': {'values': ['Royal Blue',
    'Pale Green',
    'Dark Red',
    'Light Green',
    'Dark Salmon',
    'Royal Blue',
    'Pale Green',
    'Dark Red',
    'Light Green',
    'Dark Salmon'],
   'bboxes': [{'y': 297, 'x': 114, 'w': 14, 'h': 59.8125},
    {'y': 297, 'x': 259, 'w': 14, 'h': 61.0625},
    {'y': 297, 'x': 403, 'w': 14, 'h': 52.5625},
    {'y': 297, 'x': 547, 'w': 14, 'h': 66.921875},
    {'y': 297, 'x': 692, 'w': 14, 'h': 72.453125},
    {'y': 297, 'x': 114, 'w': 14, 'h': 59.8125},
    {'y': 297, 'x': 259, 'w': 14, 'h': 61.0625},
    {'y': 297, 'x': 403, 'w': 14, 'h': 52.5625},
    {'y': 297, 'x': 547, 'w': 14, 'h': 66.921875},
    {'y': 297, 'x': 692, 'w': 14, 'h': 72.453125}]},
  'major_ticks': {'values': ['Royal Blue',
    'Pale Green',
    'Dark Red',
    'Light Green',
    'Dark Salmon',
    'Royal Blue',
    'Pale Green',
    'Dark Red',
    'Light Green',
    'Dark Salmon'],
   'bboxes': [{'y': 284, 'x': 117, 'w': 8, 'h': 8},
    {'y': 284, 'x': 262, 'w': 8, 'h': 8},
    {'y': 284, 'x': 406, 'w': 8, 'h': 8},
    {'y': 284, 'x': 550, 'w': 8, 'h': 8},
    {'y': 284, 'x': 695, 'w': 8, 'h': 8},
    {'y': 284, 'x': 117, 'w': 8, 'h': 8},
    {'y': 284, 'x': 262, 'w': 8, 'h': 8},
    {'y': 284, 'x': 406, 'w': 8, 'h': 8},
    {'y': 284, 'x': 550, 'w': 8, 'h': 8},
    {'y': 284, 'x': 695, 'w': 8, 'h': 8}]},
  'rule': {'bbox': {'y': 284, 'h': 4, 'w': 722, 'x': 49}},
  'label': {'text': 'xaxis_label',
   'bbox': {'y': 381.27, 'x': 374, 'w': 71.78125, 'h': 16}}},
 'x_gridlines': {'values': ['Royal Blue',
   'Pale Green',
   'Dark Red',
   'Light Green',
   'Dark Salmon'],
  'bboxes': [{'y': 31, 'x': 119, 'w': 4, 'h': 257},
   {'y': 31, 'x': 264, 'w': 4, 'h': 257},
   {'y': 31, 'x': 408, 'w': 4, 'h': 257},
   {'y': 31, 'x': 552, 'w': 4, 'h': 257},
   {'y': 31, 'x': 697, 'w': 4, 'h': 257}]},
 'figure_info': {'bbox': {'bbox': {'y': 0, 'x': 0, 'w': 776, 'h': 400}}},
 'y_gridlines': {'values': [0.5, 0.5, 0.5, 0.5, 0.5],
  'bboxes': [{'y': 272, 'x': 49, 'w': 722, 'h': 4},
   {'y': 220, 'x': 49, 'w': 722, 'h': 4},
   {'y': 167, 'x': 49, 'w': 722, 'h': 4},
   {'y': 115, 'x': 49, 'w': 722, 'h': 4},
   {'y': 62, 'x': 49, 'w': 722, 'h': 4}]},
 'y_axis': {'minor_ticks': {'values': [-4,
    0,
    4,
    8,
    12,
    16,
    20,
    24,
    28,
    32,
    36,
    40,
    44,
    48,
    52,
    56,
    60,
    64,
    68,
    72,
    76,
    80,
    84,
    88,
    92,
    -4,
    0,
    4,
    8,
    12,
    16,
    20,
    24,
    28,
    32,
    36,
    40,
    44,
    48,
    52,
    56,
    60,
    64,
    68,
    72,
    76,
    80,
    84,
    88,
    92],
   'bboxes': [{'y': 282, 'x': 45, 'w': 4, 'h': 4},
    {'y': 272, 'x': 45, 'w': 4, 'h': 4},
    {'y': 262, 'x': 45, 'w': 4, 'h': 4},
    {'y': 251, 'x': 45, 'w': 4, 'h': 4},
    {'y': 241, 'x': 45, 'w': 4, 'h': 4},
    {'y': 230, 'x': 45, 'w': 4, 'h': 4},
    {'y': 220, 'x': 45, 'w': 4, 'h': 4},
    {'y': 209, 'x': 45, 'w': 4, 'h': 4},
    {'y': 199, 'x': 45, 'w': 4, 'h': 4},
    {'y': 188, 'x': 45, 'w': 4, 'h': 4},
    {'y': 178, 'x': 45, 'w': 4, 'h': 4},
    {'y': 167, 'x': 45, 'w': 4, 'h': 4},
    {'y': 157, 'x': 45, 'w': 4, 'h': 4},
    {'y': 146, 'x': 45, 'w': 4, 'h': 4},
    {'y': 136, 'x': 45, 'w': 4, 'h': 4},
    {'y': 125, 'x': 45, 'w': 4, 'h': 4},
    {'y': 115, 'x': 45, 'w': 4, 'h': 4},
    {'y': 104, 'x': 45, 'w': 4, 'h': 4},
    {'y': 94, 'x': 45, 'w': 4, 'h': 4},
    {'y': 83, 'x': 45, 'w': 4, 'h': 4},
    {'y': 73, 'x': 45, 'w': 4, 'h': 4},
    {'y': 62, 'x': 45, 'w': 4, 'h': 4},
    {'y': 52, 'x': 45, 'w': 4, 'h': 4},
    {'y': 41, 'x': 45, 'w': 4, 'h': 4},
    {'y': 31, 'x': 45, 'w': 4, 'h': 4},
    {'y': 282, 'x': 45, 'w': 4, 'h': 4},
    {'y': 272, 'x': 45, 'w': 4, 'h': 4},
    {'y': 262, 'x': 45, 'w': 4, 'h': 4},
    {'y': 251, 'x': 45, 'w': 4, 'h': 4},
    {'y': 241, 'x': 45, 'w': 4, 'h': 4},
    {'y': 230, 'x': 45, 'w': 4, 'h': 4},
    {'y': 220, 'x': 45, 'w': 4, 'h': 4},
    {'y': 209, 'x': 45, 'w': 4, 'h': 4},
    {'y': 199, 'x': 45, 'w': 4, 'h': 4},
    {'y': 188, 'x': 45, 'w': 4, 'h': 4},
    {'y': 178, 'x': 45, 'w': 4, 'h': 4},
    {'y': 167, 'x': 45, 'w': 4, 'h': 4},
    {'y': 157, 'x': 45, 'w': 4, 'h': 4},
    {'y': 146, 'x': 45, 'w': 4, 'h': 4},
    {'y': 136, 'x': 45, 'w': 4, 'h': 4},
    {'y': 125, 'x': 45, 'w': 4, 'h': 4},
    {'y': 115, 'x': 45, 'w': 4, 'h': 4},
    {'y': 104, 'x': 45, 'w': 4, 'h': 4},
    {'y': 94, 'x': 45, 'w': 4, 'h': 4},
    {'y': 83, 'x': 45, 'w': 4, 'h': 4},
    {'y': 73, 'x': 45, 'w': 4, 'h': 4},
    {'y': 62, 'x': 45, 'w': 4, 'h': 4},
    {'y': 52, 'x': 45, 'w': 4, 'h': 4},
    {'y': 41, 'x': 45, 'w': 4, 'h': 4},
    {'y': 31, 'x': 45, 'w': 4, 'h': 4}]},
  'major_labels': {'values': ['0',
    '20',
    '40',
    '60',
    '80',
    '0',
    '20',
    '40',
    '60',
    '80'],
   'bboxes': [{'y': 267, 'x': 31, 'w': 6.984375, 'h': 14},
    {'y': 215, 'x': 24, 'w': 13.96875, 'h': 14},
    {'y': 162, 'x': 24, 'w': 13.96875, 'h': 14},
    {'y': 110, 'x': 24, 'w': 13.96875, 'h': 14},
    {'y': 57, 'x': 24, 'w': 13.96875, 'h': 14},
    {'y': 267, 'x': 31, 'w': 6.984375, 'h': 14},
    {'y': 215, 'x': 24, 'w': 13.96875, 'h': 14},
    {'y': 162, 'x': 24, 'w': 13.96875, 'h': 14},
    {'y': 110, 'x': 24, 'w': 13.96875, 'h': 14},
    {'y': 57, 'x': 24, 'w': 13.96875, 'h': 14}]},
  'major_ticks': {'values': [0, 20, 40, 60, 80, 0, 20, 40, 60, 80],
   'bboxes': [{'y': 270, 'x': 43, 'w': 8, 'h': 8},
    {'y': 218, 'x': 43, 'w': 8, 'h': 8},
    {'y': 165, 'x': 43, 'w': 8, 'h': 8},
    {'y': 113, 'x': 43, 'w': 8, 'h': 8},
    {'y': 60, 'x': 43, 'w': 8, 'h': 8},
    {'y': 270, 'x': 43, 'w': 8, 'h': 8},
    {'y': 218, 'x': 43, 'w': 8, 'h': 8},
    {'y': 165, 'x': 43, 'w': 8, 'h': 8},
    {'y': 113, 'x': 43, 'w': 8, 'h': 8},
    {'y': 60, 'x': 43, 'w': 8, 'h': 8}]},
  'rule': {'bbox': {'y': 31, 'x': 47, 'w': 4, 'h': 255}},
  'label': {'text': 'yaxis_label',
   'bbox': {'y': 122, 'x': 6, 'w': 16, 'h': 71.796875}}},
 'plot_info': {'bbox': {'y': 31, 'x': 47, 'w': 724, 'h': 257}}}

In [26]:
df_data.iloc[0]['general_figure_info'].keys()

dict_keys(['title', 'x_axis', 'x_gridlines', 'figure_info', 'y_gridlines', 'y_axis', 'plot_info'])

In [23]:
!ls /Users/jnaiman/Downloads/tmp/JCDL2025/other_datasets/FigureQA/train1/annotations_format.txt

/Users/jnaiman/Downloads/tmp/JCDL2025/other_datasets/FigureQA/train1/annotations_format.txt